.mt-nav {
    padding-top: 72px;
}

body {
    scroll-behavior: smooth;
}

.about-pic {
    max-width: 260px;
}

.profile-ava {
    width: 96px;
    height: 96px;
}

.object-fit-cover {
    object-fit: cover;
}