body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

table {
  width: 90%;
  margin: 24px auto;
  border: 2px solid #666;
  border-collapse: collapse;
}

td {
  padding: 28px 16px;
  vertical-align: middle;
  border-right: 2px solid #666;
}

td:last-child {
  border-right: none;
}

.left {
  background: #b3c36b;
  color: #222;
}

.right {
  background: #f3b6a9;
  color: #222;
}

@media (max-width: 600px) {

  table,
  tr,
  td {
    display: block;
    width: 100%;
  }

  td {
    border-right: none;
    border-bottom: 2px solid #666;
  }

  td:last-child {
    border-bottom: none;
  }
}